@model LoginRequestDto

<form method="post" asp-action="Login">

    <div class="login-card">

        <h2 class="login-title">Welcome Back</h2>

        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="mb-3">
            <input asp-for="UserName" class="form-control" placeholder="Enter Username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-login">Login</button>

    </div>

</form>